# Copia este archivo como .env en cada servicio si lo necesitas
# No subas el archivo .env real a Git

PORT=3000
NODE_ENV=development

# Firebase / Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# API Gateway
USERS_SERVICE_URL=http://localhost:3001
COURSES_SERVICE_URL=http://localhost:3002
ENROLLMENTS_SERVICE_URL=http://localhost:3003
NOTIFICATIONS_SERVICE_URL=http://localhost:3004
